@use '../../styles'as s;

.txDisplay{
    background-color: s.$bg;
}

.tableHeader {
    background-color: s.$bg;

    display: flex;
    flex-direction: row;
    justify-content: center;

    table {
        background-color:transparent;
        border: 1px solid gray;
        border: none !important;
        border-spacing: 0px;
        width: 74.25%;
    }

    thead {
        background-color: rgb(45, 42, 42);
        color: white;
    }

    th {
        border: 1px solid gray;
        padding: 10px;
        border-top: 5px solid white;
    }
    th:nth-of-type(1){
        width:181px;
        border-top-left-radius: s.$radius;
    }
    th:nth-of-type(2){
        width:197px;
    }
    th:nth-of-type(3){
        width:127px;
    }
    th:nth-of-type(4){
        width:112px;
    }
    th:nth-of-type(5){
        border-top-right-radius: s.$radius;
    }

    &.light{
        background-color: black;
        filter: invert(0%) !important;
    
      }
}

.transactions {
    background-color: s.$bg;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20%;
    overflow-y: scroll;

    table {
        background-color: rgb(166, 166, 166);
        border: 1px solid gray;
        border-collapse: collapse;
        width: 74.25%;
        height: 30%;
    }

    tr{
        height: 20.5px;
        max-height: 20.5px;
    }

    td {
        border: 1px solid gray;
        padding: 10px;
        min-height: 20.5px;
        max-height: 20.5px;
    }

    tbody {

        // height: 50%;
        // overflow-y: scroll; //when there is more content that are going to overflow the height it will scroll through
        tr:hover {
            background-color: whitesmoke;
        }
    }

  &.light{
    background-color: black;
    filter: invert(0%) !important;

  }
}