@use '../../styles' as s;

.app{
  height:100vh;
  display: flex;
  flex-direction: column;
}


.allCurrencies{
  height: 85%;
  background-color: red;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

