@use '../../styles' as s;

$cardHeight: 210px;

.up{
    color: green;
}

.down{
    color:red;
}

.targetNumbers{
    font-size: 45px;
    color:white;
    font-weight: 600;
}



.currencyCard{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3%;
    margin-right: 0.3%;

}

.currencyName{
    background-color: s.$secondary;
    color: s.$text;
    height: .2 * $cardHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: s.$radius;
    border-top-right-radius: s.$radius;
}

.bidAsk{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; // justify-self because there is no element in it (self)
    width: 100%;
    div{
        margin-top: 2%;
        margin-right: 2%;
    }
}

.mainPrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fluctuation{
    &.max{
        margin-left: 2%;
    }
    &.min{
        margin-right: 2%;
    }
}

.currencyPrice{
    background-color: s.$secondary;
    color: s.$text;
    height: .4 * $cardHeight;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.currencyFluctuation{
    background-color: s.$secondary;
    color: s.$text;
    height: .15 * $cardHeight;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: s.$radius;
    border-bottom-right-radius: s.$radius;
    
}

.side{
    height: 100%;
    width: 50%;
    background-color: s.$primary;
    border: 1px solid lightgray;

    &:hover{
        cursor: pointer;
        background-color: rgb(158, 155, 155);
    }
    &:active{
        background-color: rgb(88, 82, 82);
    }

    &.buy{
    }
    &.sell{

    }

}

